* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto;/*, Roboto, Helvetica, Arial, sans-serif*/
    font-size: 17px;
    min-height: 0;
/*    opacity: 0.95; */
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.55);
/*    background-color: #282A33; */
/*    background-color: #000000; */
/*    opacity: 0.77; */
/*    background-color: #EDEDED; */
    border-bottom: 0px solid rgba(30, 30, 30, 0.5);
    color: #FFFFFF; 
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 2px 8px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #1e90ff;
/*    background: #000000; */
/*    background: #34527D; */
/*    background: #3daee9; */
/*    background: rgba(30, 50, 90, 0.9); */
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #1E509F;
/*    background-color: #323232; */
/*    background-color: #34527D; */
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 0px solid #ffffff;
}

#custom-window {
  color: #D60052;
  padding: 3px 2px;
/*  font-size: 16px; */
}

#custom-keyboard-layout, #language {
  padding: 2px 8px;
}
#custom-sep {
  margin-bottom: 8px;
  margin-top: 0px;
}

#custom-files,
#custom-firefox,
#custom-telegram
{
    padding: 4px 4px;
    margin: 0px 0px;
}


#custom-scratchpad-indicator {
 /* padding: 2px 2px; */
  /* margin-top: 2px; */
  /* padding: 2px 8px; */
  /* padding-left: 4px; */
/*  padding-right: 6px; */
/*  padding: 0px 6px; */
  margin: 0px 4px;
  padding-top: 2px;
  color: #00cd32;
}

#custom-paint,
#custom-minder,
#custom-diagram,
#custom-zeal,
#custom-sound,
#custom-terminator
{
    padding: 4px 4px;
    margin: 0px 0px;
    color: #2f4f4f;
}

#custom-calculator,
#custom-calendar,
#custom-foliate,
#custom-gnome-clocks
{
    padding: 4px 4px;
    margin: 0px 0px;
    color: #6495ed;
}

#tray,
#clock,
#custom-clock,
#custom-disk_home,
#custom-disk_root,
#custom-language,
#custom-debian,
#custom-cherrytree,
#custom-emacs,
#custom-weather,
#custom-weather-humidity,
#custom-weather-wind,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-network-speed,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd {
    padding: 2px 8px;
    margin: 0px 0px;
    color: #ffffff;
}

#clock,
#custom-clock {
    background-color: #64727D;
}

#battery {
/*    background-color: #ffffff; */
/*    color: #000000; */
    background-color: #505050;
    color: #ffffff;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #9b59b6;
/*    color: #000000; */
    min-width: 44px;
}

#memory {
    background-color: #2ecc71;
}

#backlight {
    background-color: #507171;
}

#network {
    background-color: #2980b9;
}

#custom-network-speed {
    background-color: #59A0A9;
}

#network.tun {
  background-color: #262626;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #91B40f;
/*    color: #000000; */
}

#pulseaudio.muted {
    background-color: #90b1b1;
/*    color: #2a5c45; */
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0733b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
/*     background-color: #000000; */
/*    background-color: #EDEDED; */
}

#idle_inhibitor {
/*  padding: 4px 0px; */
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

/*
#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
*/

#custom-language {
    background-color: #00b093;
/*    color: #740864;
    padding: 0 5px;
    margin: 0 5px; */
    min-width: 16px;
}

#custom-keyboard-layout, #language {
   background-color: #00b093;
    /* color: #ffa500; */
/*    padding: 0 5px;
    margin: 0 5px; */
    min-width: 16px;
}

#custom-disk_home {
    background-color: darkcyan;
/*    color: #FFFFFF; */
/*    min-width: 16px; */
}

#custom-disk_root {
    background-color: #8B6914;
/*    color: #FFFFFF; */
/*    min-width: 16px; */
}

#custom-debian {
    color: #1e90ff;
/*    background-color: #D60052; */
/*    color: #FFFFFF; */
/*    min-width: 16px; */
}

#custom-weather {
   background-color: #5CAED6;
   color: #FFFFFF;
}

#custom-weather-humidity {
   background-color: darkseagreen;
   color: #FFFFFF;
}

#custom-weather-wind {
   background-color: sandybrown;
   color: #FFFFFF;
}

/* #custom-weather {
    color: #ffffff;
    border-left: 2px solid #1E509F;
    border-right: 2px solid #1E509F;
} */

#custom-doit,
#custom-org-todo {
    color: #777777;
    padding: 0px 8px;
}

#custom-motivation {
    color: #777777;
    padding: 0px 8px;
}

#custom-sep {
    color: #666666;
}

#custom-sepv {
    color: #666666;
    margin: 0px 8px;
}

#taskbar {
    margin: 0px 0px;
    padding: 0px 0px;
    margin-left: 4px;
}

#taskbar button {
  padding: 0px 8px;
  margin: 0px 0px;
 /* margin-top: 8px; */
}

#taskbar button.active {
  background-color: #64727D;
/*  background-color: #64727d; */
}

#custom-d {
  margin-top: 8px;
}

#custom-d,
#custom-e,
#custom-b,
#custom-i,
#custom-a,
#custom-n,
#custom-l,
#custom-u,
#custom-k,
#custom-s
{
  color: #64727D;
  padding: 0px 0px;
}

#custom-gg {
  color: #64727D;
  margin-top: 16px;
}

#custom-nn {
  color: #64727D;
}

#custom-uu {
  color: #64727D;
  margin-bottom: 16px;
}

#custom-note {
  color: #1e90ff;
  padding: 4px 4px;
  margin: 0px 0px;
}
